<!DOCTYPE html>
<html>
<head>
    <title>Application Logs</title>

    <style>
        body {
            background: #1e1e1e;
            color: white;
            font-family: Consolas, monospace;
            padding: 20px;
        }

        h1 {
            color: #00ff88;
        }

        pre {
            background: #111;
            padding: 20px;
            border-radius: 8px;
            white-space: pre-wrap;
            line-height: 1.6;
        }
    </style>
</head>

<body>

    <h1>Application Logs</h1>

    <pre>{{ logs }}</pre>

</body>
</html>